<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pie Chart: Title Count per Director</title>
</head>
<body>
    <h1>Pie Chart: Title Count per Cast in Movies</h1>
    <div>{{ bar_chart_html|safe }}</div>
    <h1>Pie Chart: Title Count per Cast in TV Show</h1>
    <div>{{ bar_chart_html1|safe }}</div>
    <h1>Pie Chart: Duration per Cast in Movies</h1>
    <div>{{ bar_chart_html2|safe }}</div>
    <h1>Pie Chart: Duration per Cast in TV Show</h1>
    <div>{{ bar_chart_html3|safe }}</div>

</body>
</html>