:root {
    --Primary: #E4101F;
    --Secondary: #AD0C11;
    --Background: #211C19;
    --Fonts: #FAFAFA;
}

body {
    font-family: "Source Sans Pro Semibold", "Source Sans Pro Light", serif;
  color: rgb(var(--Fonts));
  background: rgb(var(--Background));
}